---
BasedOnStyle:                           Mozilla
ColumnLimit:                            100
IndentWidth:                            4
ContinuationIndentWidth:                4
TabWidth:                               4
UseTab:                                 Never
AccessModifierOffset:                   -4
PointerAlignment:                       Right
BreakBeforeBraces:                      Custom
BraceWrapping:
  AfterClass:                           false
  AfterControlStatement:                false
  AfterEnum:                            true
  AfterFunction:                        true
  AfterNamespace:                       false
  AfterObjCDeclaration:                 false
  AfterStruct:                          true
  AfterUnion:                           true
  BeforeCatch:                          false
  BeforeElse:                           true
  IndentBraces:                         false
AlwaysBreakBeforeMultilineStrings:      true
---
Language:               Cpp
Standard:               Cpp03
Cpp11BracedListStyle:   true
